@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

/* /* MENU DE NAVEGACION: */
#menu {
  background-color: black;
}

.navegador {
  display: flex;
  justify-content: flex-end;
  top: 0px;
  right: 0px;
}

.navbar-nav {
  list-style: none;
  display: flex;
}
.navbar-nav .nav-link {
  font-size: 20px;
  color: blanchedalmond;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px 10px;
}
.navbar-nav .nav-link:hover {
  background-color: brown;
  border-radius: 5px;
}
.navbar-nav .nav-link:hover .active {
  background-color: brown;
}

header img {
  max-width: 100%;
  max-height: 100%;
}

.navbar-toggler-icon {
  color: white;
}

/* PIE DE PÀGINA */
#footer-container {
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background-color: #111;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navegacion-footer {
  justify-content: space-between;
  flex-direction: row;
}
.navegacion-footer h4 {
  position: relative;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 15px;
}
.navegacion-footer h4:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 50px;
  height: 2px;
  background: #f00;
}

.navegacion-footer ul {
  display: block;
}
.navegacion-footer ul li a {
  text-decoration: none;
  color: #999;
  margin-bottom: 10px;
}
.navegacion-footer ul li a:hover {
  color: #fff;
}

/*CONTACTANOS */
.contactanos-footer {
  position: relative;
  font-family: "Poppins", sans-serif;
}
.contactanos-footer h5 {
  color: #999;
  font-size: 16px;
}
.contactanos-footer h4 {
  position: relative;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  /* peso de la letra-grosor */
  margin-bottom: 15px;
}
.contactanos-footer h4:before {
  content: " ";
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 50px;
  height: 2px;
  background: #f00;
}

.google-maps-footer {
  width: 80px;
  height: 80px;
}

/* REDES */
.redes-footer {
  position: relative;
}
.redes-footer a {
  text-decoration: none;
}
.redes-footer h4 {
  position: relative;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  /* peso de la letra-grosor */
  margin-bottom: 15px;
}
.redes-footer h4:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 50px;
  height: 2px;
  background: #f00;
}

.redes-footer img {
  /* Por que las imagenes tienen una rayira abajo como lo saco?? */
  width: auto;
  height: 35px;
}

/* ********************* NOSOTROS************************************ */
/* nuestro equipo */
/* grid se habilita */
/* Cuantas columnas y cuanto mide cada una */
/* grid-template-columns: auto auto auto; */
/* Cuantas filas y cuanto mide cada una */
/*  grid-template-rows: auto auto auto;  */
.team-titulo {
  text-align: center;
  font-family: "Pacifico", cursive;
  color: #DE423A;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.team-img {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  object-fit: cover;
  /* sire para que no se distorcionen las imagenes */
  border-radius: 50%;
}

.team-txt {
  padding: 100px 0px;
}

.team-1 {
  display: flex;
  justify-content: center;
}

main h2 {
  font-size: 30px;
  font-family: "Kaushan Script", cursive;
  text-align: center;
}

.carousel-container {
  max-width: auto;
  max-height: auto;
  /* height: 800px;*/
  /* margin: 50px; */
}

/* PARRAFO DE PRESENTACION */
.encabezado-1 {
  font-size: 18px;
  /* Tamaño */
  /*  color: rgb(255, 255, 255); */
  color: black;
  /*  line-height: 40px; */
  /* Espacio entre linas  */
  /*  background-color: hsl(0, 69%, 32%); */
  padding: 50px;
}
.encabezado-1 .titulo-principal {
  font-size: 25px;
  font-family: "Kaushan Script", cursive;
  padding-bottom: 30px;
  text-align: center;
}

.suscribite {
  background-color: black;
  padding: 5%;
  margin-bottom: 25px;
}
.suscribite .titulo-susc {
  color: white;
  padding-left: 25px;
  font-family: "Poppins", sans-serif;
}
.suscribite .titulo-susc .h3 {
  font-weight: 800;
}

.parrafo-nosotros {
  font-family: "Asap", sans-serif;
  font-size: 18px;
  text-align: center;
  color: black;
  line-height: 30px;
  /* padding: 50px; */
}

.titulo-catalogo {
  font-size: 50px;
  font-family: "Kaushan Script", cursive;
  text-align: center;
  color: black;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 100px;
  animation-duration: 2s;
  animation-name: aparecer;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  border: black solid 2px;
  margin-bottom: 5%;
  transition: all 1s;
}
.card:hover {
  transform: scale(1.2);
}

.card-body {
  padding: 15px;
}
.card-body .card-text li {
  padding-left: 20px;
  list-style: none;
}

.card-img-top {
  width: 100%;
  height: auto;
  /* transition: all 1s;

     &:hover{
         transform: scale(1.1);

     } 
  */
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 3;
  }
}
.btn-vermas {
  margin-bottom: 60px;
}

/* ******************************************** CONTACTOS ********************************* */
.titulo-contacto .tit {
  font-size: 30px;
  font-family: "Kaushan Script", cursive;
  text-align: center;
}
.titulo-contacto .sub-tit {
  font-family: "Asap", sans-serif;
  font-size: 18px;
  text-align: center;
  color: black;
  line-height: 20px;
}

.contacto-lista .ubicacion {
  text-align: center;
  align-items: center;
}
.contacto-lista .ubicacion .imagen {
  width: auto;
  height: 50px;
  position: relative;
}
.contacto-lista .ubicacion p {
  position: relative;
}
.contacto-lista .horarios {
  text-align: center;
  align-items: center;
  margin-top: 20px;
}
.contacto-lista .horarios .imagen {
  width: auto;
  height: 50px;
  position: relative;
}
.contacto-lista .horarios p {
  position: relative;
}
.contacto-lista .telefonos {
  margin-top: 20px;
  text-align: center;
  align-items: center;
}
.contacto-lista .telefonos .imagen {
  width: auto;
  height: 50px;
  position: relative;
}
.contacto-lista .telefonos p {
  position: relative;
}

.maps {
  width: 800px;
  height: 450px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.google-maps {
  display: flex;
  justify-content: center;
}

/************ FORMULARIO **********/
.caja-formulario {
  color: #5D6063;
  background-color: #c53704;
  font-family: "Asap", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caja-formulario h3 {
  font-family: "Asap", sans-serif;
  font-size: 25px;
  color: white;
}
.caja-formulario p {
  color: white;
}

.formulario {
  text-align: center;
  /* background-color: #F6F7F8; */
  /* border: 5px solid red; */
  border-radius: 5px;
  width: 100%;
  margin: 20PX 0;
  padding: 20px;
  color: white;
}
.formulario h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
.formulario .espacio {
  margin-top: 10px;
  margin-bottom: 7px;
}

.form-row label {
  display: block;
}

/* aclaramos que tipo de input */
.form-row input[type=text],
.form-row input[type=email],
.form-row textarea[type=area] {
  background-color: #fff;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  height: 5%;
  padding: 5px;
}

/* Para que no se olviden de completar los campos obligatorios */
.form-row input[type=text]:invalid,
.form-row input[type=email]:invalid {
  border: 2px solid red;
}

.form-row .texto {
  display: block;
}
.form-row textarea {
  resize: none;
  /* para que el usuario no cambie el tamaño de la caja */
  min-height: 200px;
  width: 50%;
  display: block;
}
.form-row .espacio {
  display: block;
}

.button-enviar {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(233, 141, 21, 0.993);
  border: none;
  border-radius: 3px;
  padding: 10px 40px;
  cursor: pointer;
}
.button-enviar:hover {
  background-color: orange;
}
.button-enviar :active {
  background-color: red;
}

/***************************** Productos: Catalogo de productos****************/
.titulo-productos {
  font-size: 50px;
  font-family: "Kaushan Script", cursive;
  text-align: center;
  color: red;
  margin-top: 100px;
  margin-bottom: 50px;
  font-weight: 100px;
  animation-duration: 2s;
  animation-name: aparecer;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  border: black solid 2px;
  margin-bottom: 5%;
  transition: all 1s;
}
.card:hover {
  transform: scale(1.1);
}

.card-body {
  padding: 15px;
}

.card-img-top {
  width: 100%;
  height: auto;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 3;
  }
}
.color-card {
  background-color: #ffbb83;
}

/*# sourceMappingURL=style.css.map */
