#catalogo{
    background-color: orangered;
}



.titulo-catalogo{
    font-size:50px;
    font-family:'Kaushan Script', cursive ;
    text-align: center;
    color: coral;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 100px;
    animation-duration: 2s;
    animation-name: aparecer;

    
    
} 

.container-card{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.card{
    border: black solid 2px;
    margin-bottom: 5%;
    transition: all 1s;

    &:hover{
        transform: scale(1.1);


    }
    
    
}

.card-body{
    padding: 15px;
}


.card-img-top{
    width: 100%;
    height: auto;
    /* transition: all 1s;

    &:hover{
        transform: scale(1.1);
     
    } 
 */
}



@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 3;
    }
}