/* ********************* NOSOTROS************************************ */


/* .horno-img, .ingredientes-img{
   
    max-width: auto;
    height: 270px; */
    /* margin-top: 10%; */
    /* margin-left: 5%; */
   /*  padding-left: 10px; */
  


/* .ingredientes{
    margin-top: 5%;
    margin-bottom: 5%;
}
.horno{
    padding: 0px;
    margin-top: 3%;
    margin-bottom:2%;

}
.ingredientes-p,
.horno-p{
   padding-right: 50px;
  
   */




/* nuestro equipo */

/* grid se habilita */
    /* Cuantas columnas y cuanto mide cada una */
    /* grid-template-columns: auto auto auto; */
    /* Cuantas filas y cuanto mide cada una */
   /*  grid-template-rows: auto auto auto;  */






/* .our-team{
    text-align: center;
    margin-bottom: 20px;
}
.our-team  .container-flex{
    align-items: flex-start;

} */
/* .team-titulo{
    font-family: 'Pacifico', cursive;
    color: #DE423A;
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 10px;
} */
.team-titulo{
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #DE423A;
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 10px;
}
.team-img{
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover; /* sire para que no se distorcionen las imagenes */
    border-radius: 50%;
    /* margin: auto; */
    margin-bottom: 20px;
}
.team-txt{
    /* padding: 10px; */
    text-align: justify;/* para qur todo este centrado el texto*/
}

/* @media screen and (min-width:480px) {
    .our-team-img{
        width: 150px;
        height: 150px;
    }
} */













