/* ********************* NOSOTROS************************************ */


  
 



/* nuestro equipo */

/* grid se habilita */
    /* Cuantas columnas y cuanto mide cada una */
    /* grid-template-columns: auto auto auto; */
    /* Cuantas filas y cuanto mide cada una */
   /*  grid-template-rows: auto auto auto;  */





.team-titulo{
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #DE423A;
  
    font-size: 1.5em;
    margin-bottom: 10px;
}
.team-img{
    
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    object-fit: cover; /* sire para que no se distorcionen las imagenes */
    border-radius: 50%;
   
}
.team-txt{
    padding: 100px 0px;


}
.team-1{
    display: flex;
    justify-content: center;
}

main{
    h2{
        
            font-size: 30px;
            font-family:'Kaushan Script', cursive ;
            text-align:center;
        
    }
}

.carousel-container{
    max-width: auto;
    max-height: auto;
    /* height: 800px;*/
    /* margin: 50px; */ 
}












