/* PIE DE PÀGINA */
#footer-container{
   
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color:#111;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
   
    flex-wrap: wrap; 
} 

.navegacion-footer{
   
   justify-content: space-between;
   flex-direction: row;

    h4{
        position: relative;
        color: #fff;

        font-size: 18px;
        font-weight: 700px;
        margin-bottom: 15px;

            &:before{
                content:"";
                position: absolute;
                bottom: -5px;
                left: 0px;
                width: 50px;
                height: 2px;
                background: #f00;
            }
    }  

}


.navegacion-footer ul {
    display: block;

    li a{
        text-decoration: none;
        color: #999;
        margin-bottom: 10px;


        &:hover{
            color: #fff;
        }
    }
}
 


/*CONTACTANOS */
.contactanos-footer{
    position: relative;
    font-family: 'Poppins', sans-serif;

    h5{
        color: #999;
        font-size: 16px; 
       
    }

    h4{
        position: relative;
        color: #fff;
        font-size: 18px;
        font-weight: 800; /* peso de la letra-grosor */
        margin-bottom: 15px;

        &:before{
            content:" ";
            position: absolute;
            bottom: -5px;
            left: 0px;
            width: 50px;
            height: 2px;
            background: #f00;
        }
    }
    
}


.google-maps-footer{
    
    width: 80px;
    height: 80px;
}


/* REDES */
.redes-footer{
    position: relative;


    a{
    
        text-decoration: none;
    }
    h4{
        position: relative;
        color: #fff;
        font-size: 18px;
        font-weight: 800; /* peso de la letra-grosor */
        margin-bottom: 15px;

        &:before{
            content:"";
            position: absolute;
            bottom: -5px;
            left: 0px;
            width: 50px;
            height: 2px;
            background: #f00;
        }
    }
}



.redes-footer img{
    /* Por que las imagenes tienen una rayira abajo como lo saco?? */
    width: auto;
    height: 35px;
}

    

 
