/* MENU DE NAVEGACION: */
#menu{
    background-color:black;
}


.navegador{
    display: flex;
    justify-content: flex-end;

    top: 0px;
    right: 0px;
} 

.navbar-nav{
    list-style: none;
    display: flex;
    

    .nav-link{
        font-size: 20px; 
        color: blanchedalmond;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 5px 10px;
       
        &:hover{
            background-color:brown;
            border-radius: 5px;
        
            .active{
                background-color:brown;
            }
        }

    }  
    
}

header{
   
    img {
        max-width: 100%;
        max-height: 100%;
        
    
       
    }
}


